@import "tailwindcss";

@theme {
  --color-gold-400: #fde047;
  --color-gold-500: #eab308;
  --color-gold-600: #ca8a04;
  
  --color-black-800: #171717;
  --color-black-900: #0a0a0a;

  --color-silver-300: #d1d5db;
  --color-silver-400: #9ca3af;
}

body {
  @apply bg-black-900 text-silver-300 font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white;
}

/* Base interactive elements */
a, button {
  @apply transition-colors duration-200;
}
